@use "../../presets" as *;
@use "../../mixins" as *;

.posts {
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @extend %container;
  }

  &__title {
    margin-top: 0;

    @include lg-min {
      margin-bottom: 3rem;

      font-size: 2.5rem;
    }
    @include lg-md {
      margin-bottom: 2.625rem;

      font-size: 2rem;
    }
    @include md-sm {
      margin-bottom: 2.25rem;

      font-size: 1.5rem;
    }
    @include sm {
      margin-bottom: 2.25rem;

      text-align: center;

      font-size: 1.5rem;
    }
  }

  &__content {
    display: grid;

    padding-bottom: 20px;

    gap: 20px;
    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    @include sm-min {
      display: flex;
      justify-content: center;
    }
  }
}

.post-item {
  background-color: #f2f2f2;

  &:hover {
    background-color: #d8d8d8;
  }

  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    grid-template-rows: 300px 1fr;
  }

  &__img-box {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    background-color: $color-primary;
  }

  &__img {
    width: 100%;

    transition: transform 0.5s;

    object-fit: cover;
  }

  &:hover &__img {
    transform: scale(1.1);
  }

  &__desc {
    display: grid;
    align-content: center;

    padding: 20px;
  }

  &__title {
    transition: color 0.5s;
    text-align: center;
    letter-spacing: 0.05em;

    color: $color-gray;

    font-family: "Roboto Slab", serif;
    font-size: 1.125rem;
  }

  &__text {
    transition: color 0.5s;
    text-align: center;
    letter-spacing: normal;
  }

  &:hover &__title,
  &:hover &__text {
    color: $color-primary;
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
